//app colors
$color-salad: #B8CB48;
$color-gray: #797979;
$color-sand: #EDE7B6;
$color-blue: #1FA4DB;
$color-green: #70802A;
$color-black: #292929;
$color-orange: #EA9C46;
$color-darkblue: #374781;
$color-white: #ffffff;
$color-darkred: #de402e;

//slider colors
$slider-green: #8ECC00;
$slider-salad: #C8C902;
$slider-yellow: #FADE01;
$slider-orange: #F89600;
$slider-red: #F90000;

//forms
$form-input-border: #979797;
$form-input-placeholder: #D8D8D8;
$btn-green: #B5CE42;

//widgets
$subsection-bg:#FBF6EF;
